<div class="chat-room-top">
  <div class="left-top">
    <div class="chat-room-name">
      hogehuga
    </div>
  </div>
  <div class="right-top">
    <div class="end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-room-main">
  <div class="chat">
    <div class="chat-title">
      <div class="chat-user">
        Tom
      </div>
      <div class="chat-time">
        2020/3/31（Wed）12:43:30
      </div>
    </div>
    <div class="chat-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="chat">
    <div class="chat-title">
      <div class="chat-user">
        Tom
      </div>
      <div class="chat-time">
        2020/3/31（Wed）12:43:30
      </div>
    </div>
    <div class="chat-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
</div>

<div class="comment">
  <div class="form-input">
    <input class="text-box" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="send-btn" type="submit" value="送信">
</div>