<div class="chat">
  <div class="chat-title">
    <div class="chat-user">
      <%= message.user.name %>
    </div>
    <div class="chat-time">
      <%= message.created_at %>
    </div>
  </div>
  <div class="chat-message">
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>
</div>