<div class="chat">
  <div class="chat-title">
    <div class="chat-user">
      <%= message.user.name %>
    </div>
    <div class="chat-time">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="chat-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500X500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>