.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-bar-top {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.make-btn a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bar-bottom {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.rooms {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat-room {
  width: calc(100vw - 300px);
}

.chat-room-top {
  background-color: #ffffff;
  height: 100px;
  padding: 0, 40px;
}

.chat-room-main {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0px;
}

.comment {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}