.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-bar-top {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.make-btn a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bar-bottom {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.rooms {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat-room {
  width: calc(100vw - 300px);
}

.chat-room-top {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-room-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px; 
}

.end-btn {
  margin-top: 40px;
}

.end-btn a {
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.chat-room-main {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0px;
  overflow: scroll;
}

.chat {
  margin: 10px 0 0 0;
}

.chat-title {
  display: flex;
}

.chat-user {
  font-size: 16px;
  color: #434A54;
}

.chat-time {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.chat-message {
  margin-top: 10px;
}

.message-content {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.comment {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.text-box {
  padding-left: 10px;
  border: none;
  height: 50px;
  width: 100%;
}

.send-btn {
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  border: none;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}